/* Set the main layout */
body {
    font-family:Helvetica, Arial, sans-serif;
    font-size:100%;
    font-weight:300;
    margin:0;
    padding:0;
    min-width:1000px;
}

#maindiv {
    position:absolute;
    display:block;
    top:10px;
    left:10px;
    margin-right:300px;
    min-width:600px;
    padding:10px;
    border:1px solid #ccc;
}

#navdiv {
    position:fixed;
    display:block;
    top:10px;
    right:10px;
    padding:10px;
    width:250px;
    border:1px solid #ccc;
}

/* Text styling */
h1 {
    font-size:2em;
}
h2 {
    font-size:1.5em;
}
h3 {
    font-size:1.3em%;
}

a {
    color:#990000;
    text-decoration:underline;
}
a:hover {
    color:#aa0000;
    text-decoration:underline;
}
a:visited {
    color:#330000;
    text-decoration:underline;
}

