/* Set the main layout */
body {
    font-family:Helvetica, Arial, sans-serif;
    font-size:100%;
    margin:0;
    padding:0;
    min-width:1000px;
    background-color:#eee;
}

#maindiv {
    position:absolute;
    display:block;
    top:10px;
    left:10px;
    margin-right:10px;
    margin-bottom:10px;
    min-width:620px;
    padding:10px;
    padding-right:330px;
    border:1px solid #7a0019;
    background-color:#fff;
}

#navdiv {
    position:-webkit-sticky;
    position:sticky;
    top:0px;
    height:600px;
    float:right;
    padding:10px;
    width:300px;
    margin-right:-330px;
    overflow:scroll;
    border:1px solid #999;
    background-color:#fff;
}

div.printonly {
    display:none;
}

div.info {
    border:1px dashed #000;
    background-color:#ffffcc;
    padding:6px 10px;
    border-radius:3px;
    margin-top:10px;
    margin-bottom:10px;
}

div.warn {
    border:2px solid #900;
    background-color:#ffcccc;
    background-image:url('/MSI-RIS/Tutorials/graphics/Warn.png');
    background-repeat:no-repeat;
    background-position:right top;
    padding:6px 100px 6px 6px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:3px;
}

.warn p {
    font-weight:bold;
}

li, ul, ol {
    line-hieght:1;
    margin:0;
}

/* Style the <details> tags */
details {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
}

summary {
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 3px;
    font-style: italic;
}



/* This is the CSS for the navbar style navigation that we are going to use */
#nav {
    overflow:hidden;
    margin:0;
    padding:0;
    background-color:#eee;
    position:-webkit-sticky;
    position:sticky;
    z-index:999;
    top:0;
}

#nav a {
    float:left;
    display:block;
    color:#000;
    text-align:left;
    padding:5px 10px;
    text-decoration:none;
    font-weight:bold;
}

#nav a:hover {
    background-color:#7a0019;
    color:#fff;
}

@media screen and (max-width: 1000px) {
    #nav {
        position:relative;
        top:0px;
        left:0px;
    }
    #nav a {
        float: none;
    }
}
