/* Set the main layout */
body {
    font-family:serif;
    font-size:100%;
    margin:0;
    padding:0;
    background-color:#fff;
}

#maindiv {
    position:absolute;
    display:block;
    padding:10px;
    border:1px solid #000;
    background-color:#fff;
}

#navdiv {
    display:none;
}

div.info {
    border:2px dashed #000;
    background-color:#fff;
    padding:10px;
    border-radius:3px;
    margin:10px;
    font-style:italic;
}

div.warn {
    border:3px solid #000;
    background-color:#ccc;
    padding:10px;
    margin:10px;
    border-radius:3px;
}

.warn p {
    font-weight:bold;
}

a {
    text-decoration:underline;
    color:#00f;
}

li, ul, ol {
    line-hieght:1;
    margin:0;
}

img {
    width:65%;
    align:center;
}

/* Style the <details> tags */
details {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
}

summary {
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 3px;
    font-style: italic;
}



/* This is the CSS for the navbar style navigation that we are going to use */
ul#nav {
    display:none;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#eee;
    position:-webkit-sticky;
    position:sticky;
    z-index:999;
    top:0;
}

ul#nav li {
    display:none;
    float:left;
    border-right:1px solid #fff;
    font-weight:bold;
}

ul#nav li:last-child {
    display:none;
    border-right: none;
}

ul#nav li a {
    display:none;
    color:#000;
    text-align:center;
    padding:5px 5px;
    text-decoration:none;
}

ul#nav li a:hover {
    background-color:#7a0019;
    color:#fff;
}
