---
layout: default
---

<p>This site will list information about the tutorials that are developed and
    hosted by RIS at the University of Minnesota Supercomputing Institute. Note
    that this site will not support registration, nor will it give material for
    tutorials at MSI generally. This page is internally maintained for easy
access and updating of the RIS tutorials.</p>

<h2>Offered Tutorials</h2>
<p>We currently offer the following tutorials:</p>
<ul>
    {% for p in site.pages %}
        {% if p.title %}<li>{{p.title}}</li>{% endif %}
    {% endfor %}
</ul>
