<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ site.description }}">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/css/github.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/css/rouge-github.scss.css" | prepend: site.baseurl }}">
    </head>
    <body>
        <div id="maindiv">
            <ul id="nav">
                <!-- <li><a href="{{ "/chip" | prepend: site.baseurl }}">ChIP</a></li> -->
                <li><a href="{{ "/illumina_galaxy" | prepend: site.baseurl }}">Illumina QC (Galaxy)</a></li>
                <li><a href="{{ "/rnaseq_cmd" | prepend: site.baseurl }}">RNAseq (Command Line)</a></li>
                <li><a href="{{ "/proteomics" | prepend: site.baseurl }}">Proteomics</a></li>
                <!-- <li><a href="{{ "/variant" | prepend: site.baseurl }}">Variant Detection</a></li> -->
                <li style="float:right"><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
            </ul>
            {{ content }}
        </div>
    </body>
</html>
