<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ site.description }}">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    </head>
    <body>
        <div id="navcontainer">
            <div id="navdiv">
                <h2>Offered Tutorials</h2>
                <ul id="tutlist">
                    <li><a href="{{site.baseurl}}">Main Page</a></li>
                    {% for p in site.pages %}
                        {% unless p.permalink == '/' %}
                            <li><a href="{{ p.permalink | prepend: site.baseurl }}">{{p.title}}</a></li>
                        {% endunless %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="maindiv">
            {{ content }}
        </div>
    </body>
</html>
