<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ site.description }}">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/css/github.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    </head>
    <body>
        <div id="navcontainer">
            <div id="navdiv">
                <h2>Offered Tutorials</h2>
                <ul id="tutlist">
                    <li><a href="{{ "/" | prepend: site.baseurl }}">Main Page</a></li>
                    <li><a href="{{ "/chip" | prepend: site.baseurl }}">ChIP</a></li>
                    <li><a href="{{ "/galaxy" | prepend: site.baseurl }}">Galaxy</a></li>
                    <li><a href="{{ "/illumina" | prepend: site.baseurl }}">Illumina Data QC</a></li>
                    <li><a href="{{ "/proteomics" | prepend: site.baseurl }}">Proteomics</a></li>
                    <li><a href="{{ "/rnaseq" | prepend: site.baseurl }}">RNASeq</a></li>
                    <li><a href="{{ "/variant" | prepend: site.baseurl }}">Variant Detection</a></li>
                </ul>
            </div>
        </div>
        <div id="maindiv">
            {{ content }}
        </div>
    </body>
</html>
